/**
 * Any CSS included here will be global. The classic template
 * bundles Infima by default. Infima is a CSS framework designed to
 * work well for content-centric websites.
 */

/* You can override the default Infima variables here. */
:root {
  --ifm-color-primary: #2e86de;
  --ifm-color-primary-dark: #2474c4;
  --ifm-color-primary-darker: #1e68b4;
  --ifm-color-primary-darkest: #185ca4;
  --ifm-color-primary-light: #4a96e3;
  --ifm-color-primary-lighter: #6ba8e8;
  --ifm-color-primary-lightest: #8dbbee;
  --ifm-code-font-size: 95%;
  --docusaurus-highlighted-code-line-bg: rgba(0, 0, 0, 0.1);
}

/* For readability concerns, you should choose a lighter palette in dark mode. */
[data-theme='dark'] {
  --ifm-color-primary: #6ba8e8;
  --ifm-color-primary-dark: #4a96e3;
  --ifm-color-primary-darker: #2e86de;
  --ifm-color-primary-darkest: #2474c4;
  --ifm-color-primary-light: #8dbbee;
  --ifm-color-primary-lighter: #aecef3;
  --ifm-color-primary-lightest: #d0e2f8;
  --docusaurus-highlighted-code-line-bg: rgba(0, 0, 0, 0.3);
}
